.text-gradient {
  font-weight: 500;
  background: -webkit-radial-gradient(
    rgb(var(--v-theme-logo1)),
    rgb(var(--v-theme-logo2))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gold-text-gradient {
  font-weight: 500;
  background: -webkit-radial-gradient(#ffdb1b, #ffd700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-patch {
  left: 256px !important;
  width: calc(100% - 256px) !important;
}

.header-patch-rail {
  left: 312px !important;
  width: calc(100% - 312px) !important;
}

.header-patch-workspaces {
  right: -256px !important;
  width: calc(100% - 512px) !important;
}

.header-patch-workspaces-rail {
  right: -256px !important;
  width: calc(100% - 512px - 56px) !important;
}

.header-patch-workspaces-search {
  right: -256px !important;
  width: calc(100% - 606px) !important;
}

.header-patch-workspaces-search-rail {
  right: -256px !important;
  width: calc(100% - 718px) !important;
}

.sidebar-patch {
  height: 100vh !important;
  top: 0 !important;
  max-height: calc(100% - 0px) !important;
  transform: translateX(0%) !important;
  width: 256px;
}

.sidebar-patch-alt {
  height: 100vh !important;
  top: 0px !important;
  max-height: calc(100% - 0px) !important;
  transform: translateX(0%) !important;
  width: 350px !important;
}

.rounded-xl {
  border-radius: 12px !important;
}

.v-btn {
  text-transform: none !important;
}

.v-overlay__scrim {
  background-color: rgb(33, 33, 33) !important;
  border-color: rgb(33, 33, 33) !important;
}

.v-btn--variant-outlined,
.v-chip--variant-outlined,
.v-card--variant-outlined,
.v-avatar--variant-outlined,
.v-list-item--variant-outlined {
  border-color: hsla(0, 0%, 100%, 0.12) !important;
}

.mobile-actions {
  margin: 4px !important;
  border-radius: 5px !important;
}

.v-list-item__prepend > .v-icon,
.v-list-item__append > .v-icon {
  opacity: 1 !important;
}

.v-tooltip .v-overlay__content {
  background-color: #222222 !important;
  color: #fff !important;
}

.v-table {
  border-radius: 0 0 12px 12px !important;
  background-color: transparent !important;
  elevation: 0 !important;
}

.v-table tbody,
.v-table thead,
.v-table tr,
.v-table th,
.v-table td,
.v-table table {
  background-color: transparent !important;
}

.limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-application {
  color: unset !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--v-theme-background));
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--v-theme-background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid transparent;
}

.v-theme--light *::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}

*::-webkit-scrollbar-thumb {
  background-color: #202020;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}

.pointer {
  cursor: pointer;
}

.emoji {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 0.15em;
}

.emoji-large {
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 0.15em;
}

.emoji-large-text {
  font-size: 3.5em;
}

.message:hover {
  backdrop-filter: brightness(1.5);
}

.v-theme--amoled .message:hover {
  background: #101010;
}

.message-actions {
  position: absolute !important;
  top: 0;
  right: 0;
  margin-top: -25px;
  margin-right: 5px;
  visibility: hidden;
}

.no-hide {
  visibility: visible;
  position: relative;
}

.message:hover .message-actions {
  visibility: visible;
  position: relative;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.cover {
  object-fit: cover;
}

.replying-message {
  backdrop-filter: brightness(2);
}

.mention {
  background-color: rgb(var(--v-theme-primary), 0.1);
  border-radius: 4px;
  padding: 2px 4px;
  color: rgb(var(--v-theme-primary));
}

.mention .v-icon {
  margin-right: 0.1em;
}

.message-jumped {
  background-color: rgb(1, 144, 234, 0.2);
}

.message-date {
  visibility: hidden;
}

.message:hover .message-date {
  visibility: visible;
}

.merge {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.message-date {
  align-self: center;
  width: 54px;
}


.overflow-content p {
  white-space: pre-line !important;
  overflow-wrap: anywhere !important;
}

.overflow {
  white-space: pre-line !important;
  overflow-wrap: anywhere !important;
}

.v-theme--light .v-progress-linear {
  color: black;
}

.highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

.unhighlight:before {
  opacity: 0 !important;
}

.undraggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.v-img .v-responsive__content .v-card-title,
.v-img .v-responsive__content .v-card-subtitle,
.v-img .v-responsive__content .v-card-text {
  color: white !important;
}

.v-theme--light .elevation-6,
.v-theme--light .elevation-8 {
  box-shadow: 0 0 0 0 !important;
  border: 2px solid #e4e4e4 !important;
}

.v-theme--amoled .v-card:not(.no-border) {
  box-shadow: 0 0 0 0;
  border: 1px solid #191919;
}

.v-theme--amoled .border-top {
  border-top: 1px solid #191919 !important;
}

.v-dialog--fullscreen .v-card {
  border-radius: 0 !important;
}

.message-mention {
  border-radius: 4px;
  padding: 2px 4px;
  border-left: 4px solid rgb(1, 144, 234);
}

.mention-selected {
  background-color: rgba(29, 29, 29, 0.9);
}

.mention-item {
  padding-bottom: 0.2px;
  padding-top: 0.2px;
  cursor: pointer;
}

.show-on-hover {
  display: none;
}

.show-on-hover:hover {
  display: block;
}

.v-list-item:hover .show-on-hover {
  display: block;
}

.v-theme--amoled .v-card--variant-outlined {
  color: white !important;
}

.v-theme--dark .v-card--variant-outlined {
  color: white !important;
}

.v-theme--amoled .v-card--variant-default {
  color: white !important;
}

.v-theme--dark .v-card--variant-default {
  color: white !important;
}

.v-theme-white .v-card--variant-default {
  color: black !important;
}

.v-theme--amoled .v-expansion-panel-text {
  background-color: #000000 !important;
}

.v-theme--amoled .v-table {
  background-color: #000000 !important;
}

.v-theme--amoled .v-table__wrapper {
  background-color: #000000 !important;
}

.v-theme--amoled .v-table th,
.v-theme--amoled .v-table td {
  background-color: #000000 !important;
}

.fluid-gradient .v-card,
.fluid-gradient .v-toolbar:not(.force-bg),
.fluid-gradient .v-expansion-panel-text,
.fluid-gradient .v-expansion-panel,
.fluid-gradient .v-expansion-panel-title,
.v-sheet {
  background: transparent !important;
}

.fluid-gradient .bg-dark,
.fluid-gradient .bg-light,
.fluid-gradient
  .v-overlay__content:not(.v-progress-circular):has(.v-card):not(.v-menu) {
  background: transparent !important;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
}

.fluid-gradient .v-overlay__content .v-progress-circular {
  background: transparent !important;
}

.fluid-gradient .v-dialog:not(.v-dialog--fullscreen) .v-overlay__content {
  border-radius: 11px;
}

.bg {
  background: -webkit-linear-gradient(
    0deg,
    rgb(var(--v-theme-background)) 0%,
    rgb(var(--v-theme-background2)) var(--gradient-offset)
  ) !important;
}

.v-badge--bordered .v-badge__badge::after {
  color: transparent !important;
}

.v-img__img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.white-text,
.text-white,
.white--text {
  color: white !important;
}

.black-text,
.black--text,
.black-text {
  color: black !important;
}

.v-slider-thumb__label {
  background-color: #121212 !important;
  color: white !important;
}

.v-slider-thumb__label:before {
  color: #121212 !important;
}

.communications .date-separator {
  margin: 5px 8px 5px 8px;
  display: flex;
  justify-content: center;
}

.communications .date-separator-line {
  height: 12px;
  border-bottom: 1px solid #383838;
  mix-blend-mode: difference;
  width: 100%;
}

.communications .date-separator-block {
  padding: 0 8px;
  white-space: nowrap;
  color: #575757;
  mix-blend-mode: difference;
  filter: brightness(150%);
}

.fluid-gradient .v-menu .v-overlay__content {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: transparent !important;
}

.v-menu .v-overlay__content:not(.force-bg) {
  background: rgb(var(--v-theme-background)) !important;
}

.center-container {
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
}

.dev-overlay {
  position: absolute;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.37);
  text-align: center;
  width: 500px;
  right: 25px;
  top: 25px;
  overflow: visible;
}

.dev-header {
  padding: 10px;
  cursor: move;
  z-index: 2001;
  background-color: #0190ea;
  color: black;
}

// Align v-icon with text
//.v-icon:not(.raw-icon) {
//  margin-top: 2px;
//}

.c-both {
  clear: both;
}

@media (max-width: 768px) {
  .fix-profile-v3 {
    flex-basis: auto !important;
    width: 100% !important;
    padding: 0 !important;
  }
}

.chip-never-active .v-chip__overlay {
  opacity: 0 !important;
}

.member-sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px;
}

.member-sidebar-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.v-theme--amoled .selected {
  background-color: #101010;
}

.v-theme--amoled .member-sidebar-item:hover {
  background-color: #101010;
}

.communications .message {
  display: flex;
  margin-top: 12px;
}

.message-content {
}

.communications .message-list-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
}

.communications .message-input {
  bottom: 0;
  position: sticky;
  align-self: flex-end;
}

.communications {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100%;
}

:root:has(.disable-overscroll) {
  overscroll-behavior: none;
}