<template>
  <CoreDialog v-model="dialog" max-width="600">
    <template v-slot:title>Add Social Link</template>
    <v-container>
      <v-text-field v-model="link.name" label="Text" maxlength="20" />
      <v-text-field v-model="link.url" label="URL" />
      <v-color-picker
        v-model="link.color"
        label="Color"
        mode="hex"
        width="100%"
      />
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="primary"
        @click="
          $emit('addLink', [...(component?.props?.links ?? []), ...[link]]);
          dialog = false;
          link = {
            name: '',
            url: '',
            color: ''
          };
        "
      >
        Add
      </v-btn>
    </v-card-actions>
  </CoreDialog>
  <v-card class="mx-2 my-5">
    <v-toolbar>
      <v-toolbar-title>{{ user.username }}'s Social Links</v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-chip
        v-for="link in component?.props?.links"
        @click.prevent="$chat.processLink(link.url)"
        target="_blank"
        class="mr-2 social-link unselectable"
        :color="link.color"
        @click.middle.prevent.stop="$chat.processLink(link.url)"
        :href="link.url"
        :key="link.url"
      >
        {{ link.name }}
        <v-icon
          small
          v-if="user.id === $user.user?.id"
          class="ml-1"
          @click.prevent="
            $emit(
              'addLink',
              component.props.links.filter((l) => l !== link)
            )
          "
        >
          mdi-close
        </v-icon>
      </v-chip>
      <v-chip
        @click="dialog = true"
        v-if="user.id === $user.user?.id"
        class="unselectable"
      >
        <v-icon class="mr-1">mdi-plus</v-icon>
        Add Link
      </v-chip>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CoreDialog from "@/components/Core/Dialogs/Dialog.vue";
import { User } from "@/models/user";
import { Component } from "@/types/userv3";

export default defineComponent({
  name: "SocialLinks",
  components: { CoreDialog },
  props: {
    user: {
      type: Object as () => User,
      required: true
    },
    component: {
      type: Object as () => Component,
      required: true
    }
  },
  emits: ["addLink"],
  data() {
    return {
      dialog: false,
      link: {
        name: "",
        url: "",
        color: ""
      }
    };
  },
  methods: {
    // While maybe hacky, this prevents the user from opening a new tab when middle clicking a link
    // while retaining the ability to preview the link using the native browser
    aTag() {
      const aTags = document.getElementsByClassName("social-link");
      for (const a of aTags) {
        a.addEventListener(
          "auxclick",
          function (e) {
            e.preventDefault();
          },
          false
        );
      }
    }
  },
  unmounted() {
    const aTags = document.getElementsByClassName("social-link");
    for (const a of aTags) {
      a.removeEventListener(
        "auxclick",
        function (e) {
          e.preventDefault();
        },
        false
      );
    }
  },
  watch: {
    "component.props.links": {
      immediate: true,
      handler: async function () {
        await this.$nextTick();
        this.aTag();
      }
    }
  }
});
</script>

<style scoped></style>
